.content {
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
}

.news {
  margin:2px 40px 0 0;
  cursor: pointer;
}
.dropDown {
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.dropDown :hover {
  background: rgba(0, 0, 0, 0.025);
}